./Class-Content/05-timers/01-Activities/17-FloatsBoxModel/Solved/floats_box_solution.mov
./Class-Content/05-timers/01-Activities/21-MediaQueries/Solved/media_queries.mov
./Class-Content/05-timers/01-Activities/22-PalindromeDetector/Solved/reverse_palindrome_solution.mov
./Homework/Week-18/mongo-homework-demo.mov
